@font-face {
  font-family: 'IvyMode-Regular';
  src: url(../font/ivymode/woff2/IvyMode-Regular.woff2) format("woff2"), url(../font/ivymode/woff/IvyMode-Regular.woff) format("woff"), url(../font/ivymode/tff/IvyMode-Regular.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: 'IvyMode-Bold';
  src: url(../font/ivymode/woff2/IvyMode-Bold.woff2) format("woff2"), url(../font/ivymode/woff/IvyMode-Bold.woff) format("woff"), url(../font/ivymode/tff/IvyMode-Bold.ttf) format("truetype");
  font-weight: 800;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 62,5%;
  font-family: "Lato", sans-serif;
  background-color: #393B4A;
}

.philo {
  margin-top: 8rem;
  width: 100%;
  height: 100%;
  background: url(../img/bg--.svg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.philo-description {
  text-align: center;
  width: 70%;
  background-color: #393b4abf;
}

@media screen and (max-width: 499px) {
  .philo-description {
    width: 90%;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .philo-description {
    width: 70%;
  }
}

.philo-title {
  color: #C07D64;
  font-size: 2.4rem;
  font-family: "IvyMode-Regular", sans-serif;
  letter-spacing: .5rem;
}

.philo-story {
  font-family: "Lato", sans-serif;
  color: #EBE4DD;
  letter-spacing: .2rem;
  line-height: 3rem;
  font-size: 1.2rem;
  margin: 5rem 0;
}

@media screen and (max-width: 499px) {
  .philo-story {
    line-height: 2.5rem;
    font-size: 1.2rem;
  }
}

.philo-img {
  margin-bottom: 4rem;
}

.nav {
  position: sticky;
  top: 0;
  border-bottom: 1px dashed #C07D64;
  background-color: #3F4153;
  z-index: 1000;
}

.nav-menu {
  color: #C07D64;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}

.nav-menu > *:hover {
  color: #B9552D;
}

.nav-logo {
  width: 5rem;
}

.nav-icon {
  width: 2rem;
}

@media (max-width: 767px) {
  .nav-social {
    margin-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .navicon {
    width: 1.125em;
    height: .125em;
  }
  .navicon::before,
  .navicon::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .4s ease-out;
    content: '';
    background: #B9552D;
  }
  .navicon::before {
    top: 5px;
  }
  .navicon::after {
    top: -5px;
  }
  .menu-btn:not(:checked) ~ .nav-menu {
    display: none;
  }
  .menu-btn:checked ~ .nav-menu {
    display: block;
  }
  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .menu-btn:checked ~ .menu-icon .navicon::before {
    transform: rotate(-45deg);
  }
  .menu-btn:checked ~ .menu-icon .navicon::after {
    transform: rotate(45deg);
  }
  .menu-btn:checked ~ .menu-icon .navicon::before,
  .menu-btn:checked ~ .menu-icon .navicon::after {
    top: 0;
  }
}

.agfg {
  width: 3.5rem;
}

header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-logo {
  margin-top: 8rem;
  width: 50rem;
  align-self: center;
  justify-self: center;
}

.contact {
  width: 100%;
  height: 40rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}

@media screen and (max-width: 1100px) {
  .contact {
    flex-direction: column;
    height: 90rem;
  }
}

.contact-main {
  width: 50%;
  border-right: 1px dashed #B9552D;
}

@media screen and (max-width: 1100px) {
  .contact-main {
    width: 100%;
    border-bottom: 1px dashed #B9552D;
    border-right: none;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.contact-main-info {
  display: flex;
  margin-left: 2rem;
  margin-top: 5rem;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1100px) {
  .contact-main-info > * {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.contact-main-title {
  color: #C07D64;
  font-size: 2rem;
  font-family: "IvyMode-Regular", sans-serif;
  letter-spacing: .5rem;
}

@media screen and (max-width: 1000px) {
  .contact-main-title {
    font-size: 1.5rem;
  }
}

.contact-main-address, .contact-main-phone, .contact-main-email {
  color: #EBE4DD;
  font-family: "IvyMode-Regular", sans-serif;
  letter-spacing: .3rem;
}

.contact-main-icon {
  width: 3.5rem;
}

@media only screen and (max-width: 1100px) {
  .contact-main-icon {
    width: 2rem;
    margin-right: 0;
  }
}

.contact-main-flower {
  width: 11rem;
  margin-top: 2rem;
}

@media screen and (max-width: 1100px) {
  .contact-main-flower {
    margin-bottom: 2rem;
    align-self: flex-start;
  }
}

.contact-hours {
  width: 50%;
}

@media screen and (max-width: 1100px) {
  .contact-hours {
    width: 100%;
    height: 30rem;
  }
}

.contact-hours-title {
  color: #B9552D;
  font-size: 1.4rem;
  letter-spacing: .5rem;
  font-family: "Lato", sans-serif;
}

.contact-hours-week, .contact-hours-sunday {
  color: #EBE4DD;
  font-family: "IvyMode-Regular", sans-serif;
  letter-spacing: .3rem;
}

@media only screen and (max-width: 500px) {
  .span {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .span-week {
    padding-left: 2rem;
  }
}

.span-sunday {
  padding-left: 14.5rem;
}

@media only screen and (max-width: 500px) {
  .span-sunday {
    padding-left: 6.5rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #EBE4DD;
  width: 100%;
  height: 10rem;
}

.sliceCode {
  width: 9rem;
}

#map {
  width: 100%;
  margin-top: 10rem;
  height: 30rem;
}

@media screen and (max-width: 1100px) {
  #map {
    margin-top: 0;
  }
}
/*# sourceMappingURL=main.css.map */